* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.figma {
    height: 48px;
    width: 100%;
    background-color: #0B308E;
}

.grid {
    position: relative;
    width: 1280px;
    height: 1004px;
    /* Neutral Gray */
    background: #EDEFF5;
    margin: 0 auto;
}

.header_h {
    height: 48px;
    width: 100%;
    background-color: #0B308E;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    color: white;
}

.header__icon-bars {
    position: absolute;
    width: 16px;
    left: 16px;
    top: 33.33%;
    bottom: 33.33%;
    font-family: Fabric External MDL2 Assets;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
}

.header__img {
    position: absolute;
    width: 75px;
    height: 20px;
    left: 48px;
    top: 13px;
}

.header-left__language {
    position: absolute;
    left: 139px;
    height: 100%;
    width: 96px;
}

.header-left__language::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #FFFFFF;
    /* White */
    background-color: #FFFFFF;
    width: 20px;
    left: 18.58%;
    right: 64.58%;
    top: 68.83%;
}

.header__language-jp {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 20px;
    left: 14.58%;
    right: 64.58%;
    top: 26.17%;
    bottom: 29.17%;
    /* 14 - Small / Demi - lh20 */
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: left;
    letter-spacing: 0.03em;
    /* White */
    color: #FFFFFF;
}

.header__language-2 {
    position: absolute;
    left: 45.83%;
    right: 45.83%;
    top: 29.17%;
    bottom: 29.17%;
    /* 14 - Small / Regular - lh20 */
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* White */
    color: #FFFFFF;
}

.header__language-en {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    left: 59.58%;
    right: 14.58%;
    top: 26.17%;
    bottom: 29.17%;
    /* 14 - Small / Regular - lh20 */
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* White */
    color: #FFFFFF;
}

.header__icon-boolmark {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 185px;
    top: 0px;
}

.header-bars__m {
    position: fixed;
    top: 0;
    left: 0%;
    height: 400px;
    width: 320px;
    max-width: 100%;
    background-color: green;
    z-index: 2;
    /* transform: translateX(-100%); */
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    display: none;
    z-index: 1;
}

.header-bars__input {
    display: none;
}

.header-bars__input:checked~.overlay {
    display: block;
}

.header-bars__input:checked~.header-bars__m {
    /* transform: translateX(0%); */
    display: block;
}

.header__icon-boolmark i {
    position: absolute;
    left: 29.17%;
    right: 29.17%;
    top: 29.17%;
    bottom: 29.17%;
    /* font-family: Fabric External MDL2 Assets; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    text-align: right;
    /* White */
    color: #FFFFFF;
}

.header__icon-bell {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 137px;
    top: 0px;
}

.header__icon-bell i {
    position: absolute;
    left: 29.17%;
    right: 29.17%;
    top: 29.17%;
    bottom: 29.17%;
    /* font-family: Fabric External MDL2 Assets; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    text-align: right;
    color: white;
}

.header__icon-bell span {
    position: absolute;
    left: 52%;
    right: 25%;
    top: 17%;
    bottom: 0%;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background: #DC0706;
    border-radius: 14px;
    width: 16px;
    height: 16px;
    color: white;
}

.header__text-company {
    position: absolute;
    width: 110px;
    height: 16px;
    right: 16px;
    top: 8px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.header__text-company-en {
    width: 110px;
    height: 16px;
    right: 16px;
    top: 8px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.header__text-company-jp {
    width: 65px;
    height: 16px;
    right: 16px;
    top: 24px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    text-align: right;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.header__footer {
    position: absolute;
    width: 1280px;
    height: 56px;
    left: 0px;
    top: 48px;
    /* White */
    background: #FFFFFF;
}

.header__footer-lable {
    position: absolute;
    width: 131px;
    height: 24px;
    left: 16px;
    top: 64px;
    /* 16 - Medium / Bold - lh24 */
    font-family: Avenir Next;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    /* ANA Navy */
    color: #0B308E;
}

.header__footer-button {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    padding: 6px 16px;
    position: absolute;
    width: 64px;
    right: 16px;
    top: 5.96%;
    bottom: 90.86%;
    /* White */
    background: #FFFFFF;
    /* Line - Dark */
    border: 1px solid #ABAFBA;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #353F58;
    /* Inside Auto Layout */
}

.line {
    z-index: 1;
    position: absolute;
    width: 1280px;
    height: 0px;
    left: 0px;
    top: 104px;
    /* Line - Light */
    border-top: 1px solid #E6E9F2;
}


/* container */

.container {
    position: absolute;
    width: 1280px;
    height: 900px;
    left: 0px;
    top: 104px;
    /* White */
    background: #FFFFFF;
}

.container-lable1 {
    width: 72px;
    height: 20px;
    margin: 23px 0 0 16px;
    color: #686D7E;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.container__h {
    display: flex;
    width: 1280px;
}

.container-lable1__input {
    /* Field */
    width: 260px;
    height: 32px;
    margin: 17px 0 0 28px;
    border: 1px solid #ABAFBA;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 6px 8px;
}

.container-lable2 {
    max-width: 29px;
    height: 20px;
    margin: 23px 0 0 32px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Pencil Gray */
    color: #686D7E;
}

.container__h-content {
    position: relative;
}

.container__h-content-text {
    display: flex;
    height: 32px;
    width: 260px;
    background-color: #FFFFFF;
    /* Line - Dark */
    border: 1px solid #ABAFBA;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 17px 0 0 16px;
    position: relative;
    outline: none;
}

.content__button-link {
    text-decoration: none;
    color: #353F58;
}

.content__button-link-icon {
    position: absolute;
    top: 10px;
    right: 9px;
    width: 12px;
    height: 12px;
}

.container_content-list {
    position: absolute;
    top: 48px;
    left: 16px;
    background-color: #fff;
    width: 260px;
    list-style: none;
    border: 1px solid #969696;
    border-radius: 2px;
    z-index: 1;
    padding: 8px;
    display: none;
}

.container1 input:checked~.header__language-jp {
    color: #DC0706;
}

.container1 input:checked~.header__language-en {
    color: #DC0706;
}

.container__h-content-text:focus+.container_content-list {
    display: block;
}

.container__h-content-img {
    display: block;
    width: 12px;
    height: 12px;
    justify-content: right;
    margin: 11px 9px 8px 0;
}

.container_content-item a {
    text-decoration: none;
    color: grey;
    margin: 4px;
    width: 260px;
    display: flex;
}


/* pagination */

.container-Pagination {
    display: flex;
    margin: 16px 0 0 107px;
    width: 270px;
    height: 32px;
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}

.container-Pagination-link {
    color: #686D7E;
    line-height: 32px;
}

.Pagination-1left {
    margin-left: 20px;
    width: 16px;
    height: 16px;
}

.select-input {
    width: 70px;
    height: 32px;
    margin-left: 12px;
    background: #FFFFFF;
    /* Line - Dark */
    border: 1px solid #ABAFBA;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
}

.select-input__lable {
    line-height: 32px;
    margin: 0 8px 0;
}

.select-input i {
    position: relative;
    width: 12px;
    height: 12px;
    margin-left: 23px;
}

.select-input--lable-stop {
    width: 34px;
    height: 20px;
    margin: 6px 0px 0 8px;
    line-height: 32px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    /* Neutrals / Web / Gray 160 #323130 */
    color: #323130;
}

.Pagination-2right {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 10px;
}

.Pagination-1right {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 20px;
}

.select-input__list {
    background-color: white;
    position: absolute;
    left: -1px;
    top: 14px;
    width: 70px;
    border-radius: 2px;
    border: 1px solid #ABAFBA;
    z-index: 1;
    list-style: none;
    padding: 8px 0;
    text-align: center;
    display: none;
}

.select-input__item {
    align-items: center;
}

.select-input__item-link {
    text-decoration: none;
}


/* table */

.container-table {
    position: absolute;
    width: 1248px;
    height: 819px;
    left: 16px;
    top: 65px;
    /* White */
    background: #FFFFFF;
    /* Line - Dark */
    border: 1px solid #ABAFBA;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ABAFBA;
}

tr {
    width: 1248px;
    display: flex;
    left: 0;
    top: 0;
    height: 32px;
    padding: 0;
    background: #EDEFF5;
    /* border-bottom: 1px solid #ABAFBA; */
    text-align: center;
    box-sizing: border-box;
}

thead .th1_1 {
    color: #686D7E;
}

thead .th1_2 {
    color: #686D7E;
}

thead .th1_3 {
    color: #686D7E;
}

thead .th1_4 {
    color: #686D7E;
}

thead .th1_5 {
    color: #686D7E;
}

thead .th1_6 {
    color: #686D7E;
}

thead .th1_7 {
    color: #686D7E;
}

thead .th1_8 {
    color: #686D7E;
}

thead .th1_9 {
    color: #686D7E;
}

thead .th1_10 {
    color: #686D7E;
}

.th1_1 {
    /* border-right: 1px solid #ABAFBA; */
    width: 100px;
    padding: 6px 0px 6px 8px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
    position: relative;
}

.th1_2 {
    /* border-right: 1px solid #ABAFBA; */
    width: 60px;
    padding: 6px 0px 6px 9px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
}

.th1_3 {
    /* border-right: 1px solid #ABAFBA; */
    width: 75px;
    padding: 6px 0px 6px 9px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
}

.th1_4 {
    /* border-right: 1px solid #ABAFBA; */
    width: 259px;
    padding: 6px 0px 6px 8px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
}

.th1_5 {
    /* border-right: 1px solid #ABAFBA; */
    width: 246px;
    padding: 6px 0px 6px 8px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
}

.th1_6 {
    /* border-right: 1px solid #ABAFBA; */
    width: 39px;
    padding: 6px 0px 6px 8px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
    position: relative;
}

.th1_7 {
    /* border-right: 1px solid #ABAFBA; */
    width: 117px;
    padding: 6px 0px 6px 8px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
    position: relative;
}

.th1_8 {
    /* border-right: 1px solid #ABAFBA; */
    width: 117px;
    padding: 6px 0px 6px 8px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
    position: relative;
}

.th1_9 {
    /* border-right: 1px solid #ABAFBA; */
    width: 117px;
    padding: 6px 0px 6px 8px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
    position: relative;
}

.th1_10 {
    width: 118px;
    padding: 6px 0px 6px 8px;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.03em;
    /* Pencil Gray */
    color: #353F58;
    position: relative;
}

.tr2 {
    background-color: #FFFFFF;
}

.th1_1 {
    display: flex;
    position: relative;
}

.container__table-text {
    position: absolute;
    top: 6px;
    height: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0;
    /* Ink Black */
    color: #353F58;
}

.container__table-text i {
    position: absolute;
    top: 2px;
    right: -28px;
    width: 12px;
    height: 11.9px;
    /* Ink Black */
    color: #353F58;
}

.container__table-text:focus~.container__table-list {
    display: block;
}

.container__table-list {
    position: absolute;
    list-style: none;
    top: 14px;
    left: 6px;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #969696;
    border-radius: 2px;
    padding: 0;
    width: 90px;
    display: none;
}

.container__table-item {
    margin: 0 auto;
}

.container__table-item a {
    text-decoration: none;
    text-align: center;
}

.container__h-but {
    display: flex;
    flex-direction: row;
    padding: 6px 18px;
    width: 72px;
    height: 32px;
    background-color: #1A6DFA;
    border: 1px solid #ABAFBA;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 17px 0 0 16px;
    font-family: Avenir Next;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #FFFFFF;
}

.th1_6 i {
    position: absolute;
    left: 0;
    top: 0;
    width: 13px;
    height: 20px;
    margin: 6px 13px;
    /* font-family: Avenir Next; */
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.03em;
    /* Ink Black */
    color: #353F58;
}

.container__h-but2 {
    display: flex;
    flex-direction: row;
    padding: 6px 16px;
    width: 78px;
    height: 32px;
    margin: 17px 0 0 16px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
    /* identical to box height, or 143% */
    text-align: center;
    /* Ink Black */
    color: #353F58;
    border: 1px solid #ABAFBA;
    box-sizing: border-box;
    border-radius: 2px;
}


/*check-radio */

.pretty.p-default input:checked~.state label:after {
    background-color: #353f58 !important;
}

.pretty .state label:after,
.pretty .state label:before {
    width: 14.43px;
    height: 14.43px;
    left: 4px;
    top: 2px;
}